@charset "utf-8";
/* All Devices */
header{
	width: 100%;
	height: 100px;
	position: fixed;
	background: rgba(255,255,255,0.8);
	z-index: 1000;
	transition: 0.5s;
}
header>div{height: 100%;}
header .relative{
	z-index: 9999;
}
header>#fixed{
	width: 100%;
	height: 100%;
}
header>.fixed>.column{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	right: -100%;
	background: blue;
	transition: 0.5s;
}
header>.fixed>.black{
	width: 100%;
	height: 100%;
	transition: 0.5s;
	z-index: -1;
}
#navck:checked ~ header .fixed{ }
#navck:checked ~ header .fixed>.black{ background: rgba(0,0,0,0.4); }
#navck:checked ~ header .fixed>.column{ right: 0; }

section{
	width: 100%;
	height: auto;
}
section * {text-align: center;}
section>.content{
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}
.content.slide{
	height: 650px;
}
.slide>.img{
	width: 100%;
	height: 100%;
	filter: blur(2px);
}
.img.part1{
	background: black url(../images/main2.jpg) center / cover;
	/*animation: 10s slide infinite;*/
}

section>.sec1{
	height: 400px;
}
.sec1>.columns{
	width: 100%;
	height: auto;
}
.sec1>p{
	font-size: 1.1em;
	line-height: 40px;
}
.columns>h1{
	width: 100%;
}
.columns>.column{
	text-align: center;
}
.columns>.column>i{
	width: 10rem;
	height: 10rem;
	line-height: 10rem;
	margin-bottom: 20px;
	border-radius: 30%;
	box-shadow: 5px 5px 10px;
	background: rgba(160,210,255,1);
}
.columns>.column>p{
	max-width: 13rem;
	margin: auto;
}